<!DOCTYPE html>
<html ng-app="todoApp">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="css/buttons.css">
<link rel="stylesheet" href="css/headers.css">
<link rel="stylesheet" href="css/input_areas.css">
<link rel="stylesheet" href="css/util.css">
<link rel="stylesheet" href="css/fonts.css">
<link rel="stylesheet" href="css/cross_browser.css">
<link rel="stylesheet" href="css/drawer.css">
<link rel="stylesheet" href="css/style.css">
<title>TODO App List</title>

</head>
<body>

<section id="index" data-position="current">
  <section id="drawer" role="region">
    <header class="fixed">
      <h1>TODO App List</h1>
    </header>
    <article 
     class="content scrollable header"
     ng-controller="TodoController"
     ng-init="retrieve()">
		
		<input id="task-field" ng-model="description" type="text" />
		<button ng-click="addTask()">Add</button>
   
    <p>
    	<span ng-bind="remaining()">0</span> of
    	<span>{{tasks.length}}</span> remaing
    	[ <a href="#" ng-click="archive()">archive</a> ]
    </p> 	          
    
    <ul>
    	<li ng-repeat="task in tasks">
    		<label ng-click="save()">
    			<input ng-model="task.done" type="checkbox" />
    			<span>{{task.description}}</span>
    		</label>
    	</li>
    </ul>
    
    </article>
  </section>
</section>

<script src="js/vendor/angular.min.js"></script>
<script src="js/todoApp.js"></script>
<script src="js/controllers/TodoController.js"></script>

</body>
</html>
